<h1>TODO'S</h1>

<mat-list class="todos-content">
  <mat-list class="todos-list">
    <h2 class="sub-title">Undone</h2>
    <mat-list class="list">
      <mat-card class="create-todo" [routerLink]="['/todos', 'create']">
        +
      </mat-card>
      <mat-list-item class="todo" *ngFor="let todo of undone$ | async">
        <app-one-todo
          [routerLink]="['/todos', todo.id]"
          [todo]="todo"
        ></app-one-todo>
      </mat-list-item>
    </mat-list>
  </mat-list>

  <mat-list class="todos-list">
    <h2 class="sub-title">Done</h2>
    <mat-list class="list">
      <mat-list-item class="todo" *ngFor="let todo of done$ | async">
        <app-one-todo
          [routerLink]="['/todos', todo.id]"
          [todo]="todo"
        ></app-one-todo>
      </mat-list-item>
    </mat-list>
  </mat-list>
</mat-list>
