@import "../../styles/sizes.scss";

h1,
h2 {
  color: $color-primary-regular;
}

:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-neutral-dark;

  .todos-content {
    width: 100%;
    display: flex;
    flex-direction: row;

    .todos-list {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .list {
        width: $todo-width-hover;
        height: 750px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
        overflow: auto;

        .create-todo {
          width: $todo-width;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 10px;
          padding: 30px 0;
          font-size: 35px;
          font-weight: bold;
          border-radius: 5px;
          background-color: $color-primary-regular;
          color: $color-neutral;
          box-shadow: $shadow;
          cursor: pointer;
        }

        .create-todo:hover {
          width: $todo-width-hover;
          background-color: $color-neutral;
          color: $color-primary-regular;
          box-shadow: $shadow-hover;
          transition: 0.3s;
        }

        .todo {
          width: $todo-width;
          height: $todo-height;
          margin: 10px;
          border-radius: 5px;
          background-color: $color-neutral;
          box-shadow: $shadow;
          cursor: pointer;
        }

        .todo:hover {
          width: $todo-width-hover;
          box-shadow: $shadow-hover;
          transition: 0.3s;
        }
      }
    }
  }
}
