@import "../../../styles/sizes.scss";

:host {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .crossed-out {
    width: 101%;
    height: 1px;
    position: absolute;
    background-color: #bdbdbd;
  }

  .todo-link {
    text-decoration: none;

    .title {
      font-weight: normal;
      font-size: 16px;
      color: #616161;
      font-style: italic;
      text-transform: capitalize;
      font-family: serif;
    }

    .title-done {
      font-weight: normal;
      font-size: 16px;
      color: #bdbdbd;
    }
  }

  ::ng-deep .mat-checkbox-checked .mat-checkbox-background {
    background: linear-gradient(#93fff5, #42a0c8);
  }
}
