@import '../../styles/sizes.scss';

:host {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .read {
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    border-radius: 5px;
    box-shadow: $shadow;
  }
}
