@import '../../styles/sizes.scss';

h2,
p {
  color: #757575;
  font-weight: normal;
  text-transform: capitalize;
  font-family: serif;
}

:host {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#42a0c8, #93fff5);

  .read {
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    border-radius: 5px;
    background: white;
    box-shadow: $shadow;
  }
}
