$shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12),
  0 1px 5px 0 rgba(0, 0, 0, 0.2);
$shadow-hover: 0 5px 6px 0 rgba(0, 0, 0, 0.14),
  0 6px 5px -2px rgba(0, 0, 0, 0.12), 0 10px 20px 0 rgba(0, 0, 0, 0.2);
$list-element-shadow: 0 2px 2px 0 #00000071, 0 3px 1px -2px #00000071,
  0 1px 5px 0 #00000071;

$todo-list-width: 350px;
$todo-width: 300px;
$todo-width-hover: 310px;

$todo-height: 50px;

$color-primary-regular: #3f51b5;
$color-neutral: white;
$color-neutral-dark: #fafafa;
